<div class="{{css.header}}">
  <div class="{{css.container}}">
    <a href="/" class="{{css.logo}}">
      Catbee.
    </a>
    <div class="{{css.menu}}">
      <a class="{{css.link}}" href="/guide">Guide</a>
      <a class="{{css.link}}" href="/api">API</a>
      <a class="{{css.link}}" href="/plugins">Plugins</a>
      <a class="{{css.link}}" target="_blank" href="http://github.com/2gis/catbee">Github</a>
      <a class="{{css.link}}" target="_blank" href="http://twitter.com/catbeejs">Twitter</a>
    </div>
  </div>
</div>
