<div class="{{css.content}}">
  <div class="{{css.main}}">
    <div class="{{css.logo}}"></div>
    <div class="{{css.title}}">Catbee.</div>
    <div class="{{css.description}}">
      Isomorphic framework based on <strong>«Single State Tree»</strong> conception.
      Catbee use <strong>Baobab</strong> as main data storage and <strong>web componets</strong> as view layer.
      Framework preaches unidirectional data flow, and split logic and side effects.
      This ideas highly inspired by <strong>Cerebral.</strong> <br/>
      Catbee have builtin blazing fast server render engine and efficient client-side rendering based on <strong>morphdom</strong> library.
    </div>

    <a href="/guide" class="{{css.button}}">Getting Started</a>
  </div>

  <div class="{{css.footer}}">
    <a class="{{css.link}}" href="/guide">Guide</a>
    <a class="{{css.link}}" href="/api">API</a>
    <a class="{{css.link}}" href="/plugins">Plugins</a>
    <a class="{{css.link}}" target="_blank" href="http://github.com/2gis/catbee">Github</a>
    <a class="{{css.link}}" target="_blank" href="http://twitter.com/markuplab">Twitter</a>
  </div>
</div>

